@font-face {
  font-family: 'BigBlueTermPlus';
  src: url('../fonts/BigBlueTermPlusNerdFontPropo-Regular.ttf') format('truetype');
}

h3 {
  font-size: large;
  margin-top: 5px;
  padding-top: 0px;
}

#brand-logo  {
  font-family:'BigBlueTermPlus', system-ui, -apple-system, sans-serif;
}


.input-group{
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
  padding-right: 20px;
}

.avatar{
  border-radius: 20%;
}
