@font-face {
  font-family: 'BigBlueTermPlus';
  src: url('../fonts/BigBlueTermPlusNerdFontPropo-Regular.ttf') format('truetype');
}

h3 {
  font-size: large;
  margin-top: 5px;
  padding-top: 0px;
}

#brand-logo  {
  font-family:'BigBlueTermPlus', system-ui, -apple-system, sans-serif;
}

#rating{
  font-size: 20px;
}

.input-group{
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
  padding-right: 20px;
}

.avatar{
  border-radius: 20%;
}

.card-link {
  color: inherit; /* Inherit the color from the card */
  text-decoration: none; /* Remove underline */
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: Add a hover effect */
}
