@font-face {
  font-family: 'BigBlueTermPlus';
  src: url('../fonts/BigBlueTermPlusNerdFontPropo-Regular.ttf') format('truetype');
}

h1 { 
  font-size: large; 
}

h2, h3, h4 {
  font-size: medium;
  margin-top: 5px;
  padding-top: 0px;
}

hr{
  color: lightgray;
  opacity: 50%;
}

#brand-logo  {
  font-family:'BigBlueTermPlus', system-ui, -apple-system, sans-serif;
}

#rating{
  font-size: 20px;
}

.halfway-fab { 
  margin-bottom: 25px;
  margin-right: -20px;
  box-shadow: 2px;
}

.input-group{
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
  padding-right: 20px;
}

.avatar{
  border-radius: 20%;
  max-width: 40px; 
}

.card-link {
  color: inherit; 
  text-decoration: none;
}

.card:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

#avg_score {
  font-size: 1.2rem;
  font-weight: bold; 
}

