{% extends "base.html" %}
{% block content %}

<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('new_game')}}">
    <h2 class="center-align">add a new game</h2>
    <div class="card-panel">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input name="game_title" id="game_title" type="text" class="validate">
              <label for="game_title">title</label>
            </div>
            <div class="input-field col s12">
              <input name="game_publisher" id="game_publisher" type="text" class="validate">
              <label for="game_publisher">publisher</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="developer" id="developer" type="text" class="validate">
              <label for="developer">developer</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="release_date" id="release_date" type="text" class="validate">
              <label for="release_date">release date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="genre" id="genre" type="text" class="validate">
              <label for="genre">genre</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="image_url" id="image_url" type="text" class="validate">
              <label for="image_url">image link</label>
            </div>
        </form>
        <a href="{{url_for('new_game')}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
    </div>
  </form>
</div>



{% endblock %}
