<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>QuestLog</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css' )}}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' )}}">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green">
          <div class="row logo">
            <div class="col">
              <a href="{{url_for('games')}}" class="brand-logo" id="brand-logo">
                <b>QuestLog</b>
                <img class="logo-icon" id="logo-icon" src="../static/scroll.svg" alt="site logo">
              </a>
            </div>
            <a href="{{url_for('games')}}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          </div>
          {% if current_user.is_authenticated %}
            <ul class="right hide-on-med-and-down">
              <li><a href="{{url_for('logout')}}">logout</a></li>
              <li><a href="{{url_for('games')}}">All Games</a></li>
              <li><a href="{{url_for('my_games', user_id=current_user.user_id)}}">My Games</a></li>
              <li><a href="{{url_for('my_reviews', user_id=current_user.user_id)}}">My Reviews</a></li>
              <li><a href="{{url_for('profile', user_id=current_user.user_id)}}">My Profile</a></li>
            </ul>
          {% else %}
            <ul class="right hide-on-med-and-down">
              <li><a href="{{url_for('games')}}">Games</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>  
            <li><a href="{{url_for('register')}}">Register</a></li>
            </ul>
          {% endif %}
        </div>
      </nav>
    </div>
    {% if current_user.is_authenticated %}
      <ul class="sidenav" id="mobile-demo">
        <h3 class="center-align">Hi, {{current_user.first_name}}</h3> 
        <li><a href="{{url_for('games')}}">All Games</a></li>
        <li><a href="{{url_for('my_games', user_id=current_user.user_id)}}">My Games</a></li>
        <li><a href="{{url_for('my_reviews', user_id=current_user.user_id)}}">My Reviews</a></li>
        <li><a href="{{url_for('profile', user_id=current_user.user_id)}}">My Profile</a></li>
        <li><a href="{{url_for('logout')}}">logout</a></li>
      </ul>
    {% else %}
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('games')}}">Games</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>  
        <li><a href="{{url_for('register')}}">Register</a></li>
      </ul>
    {% endif %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="row">
        <div class="col s12 offset-s2 offset-l4 m4 offset-m4 l4">
          <ul class="z-depth-2 flashes green darken-1">
          {% for message in messages %}
        <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% endwith %}
    {% block content %}
    {% endblock %}
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
  </body>
</html>
