{% extends "base.html" %}
{% block content %}
<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('edit_review', review_id=review.review_id)}}">
    <h2 class="center-align">edit your review of {{review.game.game_title}}</h2>
    <div class="card-panel">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input name="rating" value={{review.rating}} id="rating" type="number" min="0" max="100" required>
              <label for="game_title">rating (0-100)</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <p>
                <label>
                  <input name="completed" id="completed" type="checkbox" {% if review.completed %}checked{% endif %} />
                  <span>Completed?</span>
                </label>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="hours_played" value={{review.hours_played}} id="hours_played" type="number" min="1" required>
              <label for="hours_played">hours played</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="review_content">review</label>
              <textarea name="review_content" id="review_content" 
                class="materialize-textarea" required>{{ review.review_content  }}</textarea>
            </div>
          </div>
          <div class="row">
            <button class="col offset-m2 s8 green btn waves-effect waves-light" type="submit">Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </form>
</div>
{% endblock %}
