{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col l4 s12 m6">
      <div class="row">
        <div class="input-field col">
          <i class="material-icons prefix">search</i>
          <input type="search" name="game-search" id="game-search" class="autocomplete">
          <label for="game-search">Game title</label>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col l6 s12 m6 offset-m3" id="game-results">
      <!-- Game cards will be dynamically inserted here -->
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <hr>
    <h1 class="center-align">Games</h1>
    {% for game in games %}
      <div class="col l5 s12 m6">
        <a href="{{url_for('game_detail', game_id=game.game_id)}}" class="card-link">
          <div class="card large">
            <div class="card-image">
              {% if current_user.is_authenticated %}
                {% if game.game_id not in in_my_games %}
                  <form  action="{{url_for('add_library', game_id=game.game_id)}}" method="POST"> 
                    <button type="submit" class="btn-floating tooltipped halfway-fab waves-effect waves-light red" 
                    data-position="left"
                    data-tooltip="add to My Games">
                      <i class="material-icons">add</i>
                    </button>
                  </form>   
                {% else %}
                  <span class="btn-floating tooltipped halfway-fab waves-effect waves-light green"
            data-position="left"
            data-tooltip="in My Games">
                    <i class="material-icons">check</i>
                  </span>
                {% endif %}
              {% endif %}
            <img src="{{game.image_url}}" alt="{{game.game_title}} cover image">
            </div>
            <div class="card-content">
              <h4 class="center-align">{{game.game_title}}</h4>
              <p><b>Developer: </b>{{game.developer}}</p>
              <p><b>Publisher: </b>{{game.game_publisher}}</p>
              <p><b>Release date: </b>{{ game.release_date.strftime('%d/%m/%Y') }}</p>
              <p><b>Genre: </b>{{game.genre}}</p>
            </div>
          </div>
        </a>
      </div>
{% endfor %}
  </div>
</div>
<script>
var isUserAuthenticated = {{ 'true' if current_user.is_authenticated else 'false'}};
var inMyGames = {{in_my_games|tojson|safe}}
</script>
{% endblock %} 
