{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
{% for game in games %}
    <div class="col l3 s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{game.image_url}}">
          <form  action="{{url_for('add_library', game_id=game.game_id)}}" method="POST"> 
            <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red" >
              <i class="material-icons">add</i>
            </button>
          </form>
        </div>
        <div class="card-content">
          <h4 class="center-align">{{game.game_title}}</h4>
          <p><b>Developer: </b>{{game.developer}}</p>
          <p><b>Publisher: </b>{{game.game_publisher}}</p>
          <p><b>Release date: </b>{{ game.release_date.strftime('%d %m %Y') }}</p>
          <p><b>Genre: </b>{{game.genre}}</p>
        </div>
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock %}

