{% extends "base.html" %}
{% block content %}

<h2 class="center-align text-darken-4"> {{ user.username }}'s profile </h2>
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <img class="avatar" src={{user.avatar_url}}>
      <span><p><b>Username:  </b>{{user.username}}</p></span>
      <span><p><b>account created:  </b>{{user.created_at}}</p></span>
      <span><p><b>number of games:  </b>{{user.games}}</p></span>
      <span><p><b>number of reviews: </b>{{user.reviews}}</p></span>
      <p><b>Games: </b>  </p>
      {% for game in UserGame %}
        pass
      {% endfor %}
      <p><b>Reviews: </b></p>
      {% for review in UserReview %}
        pass
      {% endfor %}
    </div>
  </div>
</div>

{% if owns_profile %} 
<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('profile', user_id=user.user_id)}}">
    <h2 class="center-align"> update account details</h2>
    <div class="card-panel">
      <div class="row">
        <div class="col s12">
          <div class="row">  
            <div class="input-field col s12">
              <input name="newauth" id="newauth" type="text" class="validate">
              <label for="newauth">update password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input default="{{user.email}}" name="email" id="email" type="text" class="validate">
              <label for="email">update email address</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input default="new avatar link" name="avatar_url" id="avatar_url" type="text">
              <label for="avatar_url">update avatar link</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="update user information" class="col s12 btn-large light-blue darken-4 text-shadow">
          Submit changes
        </button>
      </div>
    </div>
  </form>
</div>

{% endif %}
{% endblock %}
