{% extends "base.html" %}
{% block content %}
{% if owns_profile %}
  <h2 class="center-align text-darken-4">My Profile</h2>
{% else %}
  <h2 class="center-align text-darken-4"> {{ user.username }}'s Profile</h2>
{% endif %}
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <img class="avatar" src={{user.avatar_url}}>
      <span><p><b>Username:  </b>{{user.username}}</p></span>
      <span><p><b>account created:  </b> {{user.created_at.strftime('%d/%m/%Y') }}</p></span>
      <span><p><b>number of games:  </b> {{user.user_games|length}}</p></span>
      <span><p><b>number of reviews: </b> {{user.reviews|length}}</p></span>
      {% if  owns_profile %}
        <a href="{{url_for('my_games', user_id=user.user_id)}}"<p><b>My Games</b></p></a>
        <a href="{{url_for('my_reviews',user_id=user.user_id)}}"<p><b>My Reviews</b></p></a>
      {% else %}
      <a href="{{url_for('my_games', user_id=user.user_id)}}"<p><b>{{ user.username }}'s Games</b></p></a>
      <a href="{{url_for('my_reviews',user_id=user.user_id)}}"<p><b>{{ user.username}}'s Reviews</b></p></a>
      {% endif %}
    </div>
  </div>
</div>
{% if owns_profile %} 
<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('profile', user_id=user.user_id)}}">
    <h3 class="center-align"> update account details</h3>
    <div class="card-panel">
      <div class="row">
        <div class="col s12">
          <div class="row">  
            <div class="input-field col s12">
              <input name="newauth" id="newauth" type="text" class="validate">
              <label for="newauth">update password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input default="{{user.email}}" name="email" id="email" type="text" class="validate">
              <label for="email">update email address</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input default="new avatar link" name="avatar_url" id="avatar_url" type="text">
              <label for="avatar_url">update avatar link</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="update user information" class="col s8 m8 offset-m2 offset-s2 btn green text-shadow">
          Submit changes
        </button>
      </div>      

    </div>
    <div>
  </form>
  <form class="col s8 offset-s2 m8 offset-m2"
    method="POST"
    action="{{ url_for('delete_user', user_id=user.user_id) }}">
    <div class="row">
      <button type="submit" class="col s8 offset-s2 btn red darken-4 text-shadow">
        Delete User Account
      </button>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}
